# Ignore all bin directories
**/bin/
# But DO NOT ignore the TDFAPI config.ini in its specific Debug path
!TDFAPI/bin/Debug/net8.0/config.ini

# Ignore all release directories
**/release/

# Ignore intermediate build outputs
**/obj/

# Ignore user-specific Visual Studio settings
*.user

# Ignore Visual Studio solution user options
*.suo

# Ignore Visual Studio's hidden folder
.vs/

# Ignore JetBrains Rider's project-specific settings
.idea/
